.footer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: white;
    background-color: black;
    border: 0.1vh;
    border-style: solid none none none;
    position: fixed;
    bottom: 0vh;
    left: 0px;
    color:white;
}

.footer-hidden {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: white;
    background-color: black;
    border: 0.1vh;
    border-style: solid none none none;
    position: fixed;
    bottom: -12vh;
    left: 0px;
    color:white;
}

.footer-hidden:hover{
    bottom: 0px;
}

.footer-logo{
    position: absolute;
    height: 2vh;
    width: 2vh;
    bottom: 10vh;
}

@media only screen and (min-width: 414px) {
    /* For smartphones: */
    .footer-logo{
        right: 12vw;
    }
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .footer-logo{
        right: 16vw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer-logo{
        right: 15vw;
    }
  }