.content-main{
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 25px;
    color:white;
}

@media only screen and (min-width: 414px) {
    /* For smartphones: */
    h1{
        font-size: 25px;
    }
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    h1{
        font-size: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    h1{
        font-size: 45px;
    }
  }